*{
    margin: 0;
    padding: 0;
}


.test {
    height: 99vh;
    width: 100%;
    background-image: url(/Ziyad-pages/img/Screenshot\ 2023-09-19\ 102959.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.test h1 {
    padding-top: 20%;
    text-align: center;
    color: white;
    font-size: xx-large;
}


.test p {
    font-size: 25px;
    color: white;
    text-align: center;
    padding-top: 2%;
}
.img-card{
    border-radius: 20px;
    margin-top: 50px;
    width: 400px;
    border-style: solid;
    position: relative;
    border: none;
    border-left:wheat  solid 10px;
    height: 280px;
}
.dad-card{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 2%;

}
.se-card{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;


}
/* button */
.button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    background: rgb(168, 99, 56);
  }
  
  .button:hover::before {
    transform: scaleX(1);
  }
  
  .button-content {
    position: relative;
    z-index: 1;
  }
  .button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    transition: all 0.475s;
  
  }
  .sgin{
    text-decoration: none;
    color: black;
   }
   .display{
    display: flex;
    flex-direction: row;
    gap: 20%;
   }
/* ent cards here boyyyy */
.card {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}
.card1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 55px;
  
}
.display1{
  display: flex;
  flex-direction: row;
  gap: 20%;

}
  .p-1{
    display: flex;
    /* flex-direction: column; */
    
  }
  .img2{
    width: 200px;
  }
  
  /* img slider here style */
  .swiper {
    width: 100%;
    height: 100vh;
}

.swiper-button {
    color: rgba(65, 30, 8);
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
}
.swiper-pagination-bullet{
    background: rgba(65, 30, 8);
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: transparent;
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: transparent;
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

.swiper-slide:nth-child(1) {
    background: url(/Sultan_pages/IMG/70bcdd25c5729476628e06e5cd63d356.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.swiper-slide:nth-child(2) {
    background: url(/Sultan_pages/IMG/slide2.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.swiper-slide:nth-child(3) {
    background: url(/Sultan_pages/IMG/slide3.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.aboutArabs {
    margin-right: 20%;
    align-self: end;
    text-decoration: none;
}

.aboutArabs button {
    font-size: large;
    color: white;
    width: 10vw;
    height: 5vh;
    border: none;
    outline: none;
    background: rgb(168, 99, 56);
    border-radius: 6px;
}

.opcity {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2%;
    color: white;
    width: 100%;
    height: 100%;
    background: rgba(65, 30, 8, 0.7);
    border-radius: 0 0 12px 12px;
}

.moree {
    margin: 5% 0;
    padding: 0 2%;
}

.moree div:nth-child(1) h1 {
    border-right: 5px solid rgba(65, 30, 8);
    border-radius: 0 0 12px 0;
    padding-right: 2%;
}
  /* h1{
    border-right: #BC6C25 solid; 
    width: 200px;
    border-radius: 10px;
  }  */
  
 .h1-loop{
  width: 420px;
  border: none;
 }
 .p1{
  width: 500px;
  font-size: 20px;
 }
 .p2{ 
  width: 500px;
  font-size: 20px;

 }
 .p3{
  width: 500px;
  font-size: 20px;
 }
 .h{
  text-decoration: none;
  color: white;

 }

 
 





