*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img-backgrond{
    width: 40%;
    height: 50vh;
    display: flex;
    flex-direction: row;
   justify-content: center;
   
}

.rab6{
    text-decoration: none;
    color: #BC6C25;
}.button-ra{
    padding: 7px;
    border-radius: 15px;
}
.main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.material-symbols-outlined{
    color: green;
    border-style: groove;
    border-radius: 100px;
    border-color: green;
    
}
.div1{
    display: flex;
    justify-content: center;
}