*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img-backgrond{
    width: 35%;
    margin-left: 400px;
    border-style: groove;
    display: flex;
    flex-direction: row;
   justify-content: center;
   align-items: center; 
    border-color: bisque;
    background-color: antiquewhite;
}
.div1{

}
.rab6{
    text-decoration: none;
    color: #BC6C25;
}.button-ra{
    padding: 7px;
    border-radius: 15px;
}
.main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}