@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@00&display=swap');


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Tajawal' sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    height: 100%;
    background: whitesmoke;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(65, 30, 8);
    border-radius: 3px;
}

.navbar {
    position: fixed;
    z-index: 511;
    width: 100%;
    transition: 0.3s ease;
}

nav a,
li {
    margin: 0 3%;
}

.login {
    width: 10%;
}

.login button {
    width: 100%;
    padding: 5% 0;
    background: whitesmoke;
    transition: 0.4s ease;
    border-radius: 12px;
    border: none;
    outline: none;
    cursor: pointer;
}

.login button.scrolled {
    color: white;
    background: rgba(65, 30, 8);
}

.swiper {
    width: 100%;
    height: 100vh;
}

.swiper-button {
    color: rgba(65, 30, 8);
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-pagination-bullet{
    background: rgba(65, 30, 8);
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: transparent;
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: transparent;
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

.swiper-slide:nth-child(1) {
    background: url(/Sultan_pages/IMG/70bcdd25c5729476628e06e5cd63d356.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.swiper-slide:nth-child(2) {
    background: url(/Sultan_pages/IMG/slide2.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.swiper-slide:nth-child(3) {
    background: url(/Sultan_pages/IMG/slide3.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.aboutArabs {
    margin-right: 20%;
    align-self: end;
    text-decoration: none;
}

.aboutArabs button {
    font-size: large;
    color: white;
    width: 10vw;
    height: 5vh;
    border: none;
    outline: none;
    background: rgb(168, 99, 56);
    border-radius: 6px;
}

.opcity {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2%;
    color: white;
    width: 100%;
    height: 100%;
    background: rgba(65, 30, 8, 0.7);
    border-radius: 0 0 12px 12px;
}

.moree {
    margin: 5% 0;
    padding: 0 2%;
}

.moree div:nth-child(1) h1 {
    border-right: 5px solid rgba(65, 30, 8);
    border-radius: l0 0 12px 0;
    padding-right: 2%;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
}

.cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5%;
    width: 30%;
}

.cards .card .card-img {
    height: 28vh;
    background: rgba(65, 30, 8, 0.7);
    margin-bottom: 2%;
}

.card-basket {
    align-self: start;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 15%;
    cursor: pointer;
    border-radius: 6px;
}

.bi {
    font-size: x-large;
    color: white;
    transition: 0.4s ease;
}

.bi:hover {
    transform: scale(1.2);
}

.bi-bookmark-heart-fill {
    color: rgb(201, 150, 12);
}


.cards .card .card-subtitle,
.card-title {
    padding: 0 2%;
}

.cards .card .card-subtitle {
    margin-bottom: 3%;
}

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
    background: white;
    padding: 0 0 70px 0;
}
.Shape {
    width: 100%;
    height: 3vh;
    padding: 2% 0;
    background: url(/Sultan_pages/IMG/Shapes.png) no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 3%;
}
.footer-col{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 20%; 
}
.imglogo {
    align-items: center;
}
.footer-col img {
    width: 75%;
}
.footer-col h4{
	font-size: 18px;
	color: rgb(65, 30, 8);
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
    padding-bottom: 4%;
    border-radius: 4px;
    border-bottom: 1px solid black;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li {
    width: 100%;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #6e6e6e;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #1a1a1a;
	padding-right: 8px;
}
.footer-col .social-links {
    display: flex;
    align-items: center;
    gap: 5%;
    width: 100%;
}
.footer-col .social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
	height: 40px;
	width: 40px;
	background-color: rgb(65, 30, 8);
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: rgb(65, 30, 8);
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

@media screen and (max-width: 991px) {
    .login {
        display: none;
    }

    .cards .card {
        width: 40%;
    }
}